jenkins_url: 'http(s)://your_jenkins.server'
user: 'username'
token: 'jenkins api token'
view: 'view_name'
job_name_template: 'job name mask' # if you want a list of jobs which contain some template in name, specify the template here, you can use regular expressions
job_conf_template: '(?<=you can use ahead search\>)[\w\d\.]+' # if you want a list of jobs which contain some template
# in config.xml, specify the template here. you can use regular expressions

#Show the API token as follows:
#Log in to Jenkins.
#Click your name (upper-right corner).
#Click Configure (left-side menu).
#Click Show API Token.